@use "./var";

footer{
    
}

.d7 {
    font-size: var.$fs2;
    background-color: aquamarine;
}

.d14 {
    font-size: var.$fs2;
    background-color: red;
}

.d21 {
    font-size: var.$fs2;
    background-color: yellow;
}

.d28 {
    font-size: var.$fs2;
    background-color: grey;
}
.name{
    font-size: var.$fs1;
}