@use "./var";
header{
    position: fixed;
    top: 0;
    text-align: center;
    min-width: 100vw;
    max-height: 15vh;
    padding: 2vh;
    border-bottom: 2px dotted black;
}

.headline{
    font-size: var.$fs3;
}

.subheadline{
    font-size: var.$fs2;
}