@use "./var";
header{
    text-align: center;
    padding: 2vh;
    border-bottom: 2px dotted black;
    position: fixed;
    top: 0;
    max-height: 25%;
    min-width: 100vw;
}

.headline{
    font-size: var.$fs2;
}

.subheadline{
    font-size: var.$fs1;
}