@use "./var";

main{
    max-height: 45vh;
    min-width: 100vh;
}

form{
    font-size: var.$fs1;
}

button {
    background-color: red;
    border: none;
    border-radius: 2vw;
    min-width: 25vw;
    min-height: 25px;
    font-size: var.$fs2;
    animation: blinken 3s infinite;
}

@keyframes blinken {
    0%
    { 
        background-color: red;
    }
    50%
    {
        background-color: yellow;
    }
    100%
    { 
        background-color: red;
    }
}
